{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="profile">
    <div class="user-info">
        <div class="profile_pic">
            <img src="{{thisuser.profile.profile_pic.url}}" alt="">
        </div>
        <div class="info">
            <h3 class="user-name">{{ thisuser.username }}
                {% if thisuser == user %}
                <a style="font-weight: 600;  color: rgb(70, 150, 255);" href="{% url 'logout' %}">Edit</a>
                <a style="font-weight: 600;  color: rgb(255, 70, 70);" href="{% url 'logout' %}">Logout</a></h3>
            {% endif %}
            <div class="count">
                <p class="posts"><span>{{ posts|length }}</span> posts</p>
                <p class="follower"><span>0</span> follower</p>
                <p class="following"><span>0</span> following</p>
            </div>
            <h4 class="full-name">{{ thisuser.profile.fullname }}</h4>
            <p class="user-bio">{{ thisuser.profile.bio }}</p>
        </div>
    </div>
    <div class="user-posts">
        {% if posts %}
        {% for post in posts %}
        <div class="img-container">
            <img src="{{ post.image.url}}" alt="">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}