{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if form %}
<form action="{% url 'register' %}" class="register-form form" method="POST">
    {% csrf_token %}
    <!-- Site logo -->
    <div class="form-logo">
        <img src="{% static 'images/logo.png' %}" alt="">
        <p>Sign up to see photos and videos from your friends.</p>
    </div>
    <div class='error'>{{form.errors.username}}</div>
    <div class="text-input">
        <input type="text" class="text-input-box" placeholder="Name" name="username" id="username">
        <label for="username">Username</label>
    </div>
    <div class="text-input">
        <input type="email" class="text-input-box" placeholder="Name" name="email" id="email">
        <label for="email">Email</label>
    </div>
    <div class="text-input">
        <input type="text" class="text-input-box" placeholder="Name" name="first_name" id="first_name">
        <label for="first_name">First Name</label>
    </div>
    <div class="text-input">
        <input type="text" class="text-input-box" placeholder="Name" name="last_name" id="last_name">
        <label for="last_name">Last Name</label>
    </div>
    <div class='error'>{{form.errors.password1}}</div>
    <div class="text-input">
        <input type="password" class="text-input-box" placeholder="Name" name="password1" id="password1">
        <label for="password1">Password</label>
    </div>
    <div class='error'>{{form.errors.password2}}</div>
    <div class="text-input">
        <input type="password" class="text-input-box" placeholder="Name" name="password2" id="password2">
        <label for="password2">Conform Password</label>
    </div>
    <div>
        <input type="submit" value="Sign up">
    </div>
</form>
<!-- Alternative links -->
<div class="form">
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endif %}
{% endblock content %}