*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #fff;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  z-index: 1111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header nav .nav-logo {
  margin-right: auto;
}

header nav .nav-logo img {
  height: 40px;
}

header nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 220px;
  height: 30px;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 5px;
}

header nav form input[type=text] {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: none;
  border: none;
  outline: none;
  width: 100%;
}

header nav form input[type=text]::-webkit-input-placeholder {
  opacity: 0.6;
}

header nav form input[type=text]:-ms-input-placeholder {
  opacity: 0.6;
}

header nav form input[type=text]::-ms-input-placeholder {
  opacity: 0.6;
}

header nav form input[type=text]::placeholder {
  opacity: 0.6;
}

header nav form label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav form label svg {
  height: 1.5rem;
  opacity: 0.3;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-links a {
  margin-left: 20px;
}

header nav .nav-links a svg,
header nav .nav-links a img {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

header nav .nav-links a svg {
  padding: 2px;
}

header nav .nav-links a svg .st0 {
  fill: none;
  stroke: #333;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

header nav .nav-links a img {
  border-radius: 50%;
}

header nav .nav-links .active svg .st0 {
  fill: #333;
}

main {
  margin-top: 54px;
}

.home-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
      grid-template-areas: "posts sidebar";
  grid-gap: 30px;
}

.home-content .sidebar {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0px;
  float: right;
  margin-top: 84px;
  border-radius: 5px;
}

.home-content .sidebar .sidebar-content {
  float: right;
  width: 300px;
}

.home-content .sidebar .sidebar-content .user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-content .sidebar .sidebar-content .user a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-content .sidebar .sidebar-content .user div {
  margin-top: -15px;
  padding-left: 20px;
}

.home-content .sidebar .sidebar-content .user div a {
  font-size: 0.9rem;
  color: #333;
  font-weight: 600;
}

.home-content .sidebar .sidebar-content .user div p {
  font-size: 0.9rem;
  opacity: 0.5;
}

.home-content .posts {
  z-index: 100;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: posts;
  width: 100%;
}

.home-content .posts .home-post {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px 0;
  border-radius: 5px;
}

.home-content .posts .home-post .post-top {
  padding: 10px 20px;
}

.home-content .posts .home-post .post-top .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content .posts .home-post .post-top .user a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-content .posts .home-post .post-top .user .name {
  margin-top: -10px;
  color: #333;
  font-weight: 600;
  margin-left: 20px;
}

.home-content .posts .home-post .img {
  width: 100%;
  overflow: hidden;
}

.home-content .posts .home-post .img img {
  width: 100%;
}

.home-content .posts .home-post .post-btns {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content .posts .home-post .post-btns a {
  margin-right: 10px;
}

.home-content .posts .home-post .post-btns a svg {
  height: 35px;
}

.home-content .posts .home-post .post-btns a svg .st0 {
  fill: none;
  stroke: #333;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.home-content .posts .home-post .post-btns a:nth-child(2) svg {
  height: 42px;
}

.home-content .posts .home-post .post-btns a:last-child {
  margin-left: auto;
  margin-right: 0;
}

.home-content .posts .home-post .discription-sect {
  padding: 0 20px 10px 20px;
}

.home-content .posts .home-post .discription-sect p {
  font-size: 0.9rem;
  color: #333;
  font-weight: 400;
}

.home-content .posts .home-post .discription-sect p a,
.home-content .posts .home-post .discription-sect p span {
  color: #333;
  font-weight: 600;
}

.home-content .posts .home-post .discription-sect p small {
  font-size: 0.7rem;
}

.home-content .posts .home-post form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.home-content .posts .home-post form input[type=text] {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 0.9rem;
  color: #333;
}

.home-content .posts .home-post form input[type=text]::-webkit-input-placeholder {
  opacity: 0.5;
}

.home-content .posts .home-post form input[type=text]:-ms-input-placeholder {
  opacity: 0.5;
}

.home-content .posts .home-post form input[type=text]::-ms-input-placeholder {
  opacity: 0.5;
}

.home-content .posts .home-post form input[type=text]::placeholder {
  opacity: 0.5;
}

.home-content .posts .home-post form input[type=submit] {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #559eff;
  font-size: 0.9rem;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */