*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    z-index: 1111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    background-color: #fff;

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        height: 100%;

        .nav-logo {
            margin-right: auto;

            img {
                height: 40px;
            }
        }

        form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            width: 220px;
            height: 30px;
            margin: 0 auto;
            padding: 0 10px;
            border-radius: 5px;



            input[type=text] {
                order: 2;
                background: none;
                border: none;
                outline: none;
                width: 100%;

                &::placeholder {
                    opacity: 0.6;
                }
            }

            label {
                order: 1;
                display: flex;
                align-items: center;

                svg {
                    height: 1.5rem;
                    opacity: 0.3;
                }
            }
        }

        .nav-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                margin-left: 20px;

                svg,
                img {
                    height: 30px;
                    width: 30px;
                    object-fit: cover;
                }

                svg {
                    padding: 2px;

                    .st0 {
                        fill: none;
                        stroke: #333;
                        stroke-width: 5;
                        stroke-miterlimit: 10;
                    }
                }

                img {
                    border-radius: 50%;
                }

            }

            .active {
                svg {
                    .st0 {
                        fill: #333;
                    }
                }
            }
        }
    }
}

main {
    margin-top: 54px;
}

.home-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: "posts sidebar";
    grid-gap: 30px;

    .sidebar {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        float: right;
        margin-top: 84px;
        border-radius: 5px;

        .sidebar-content {
            float: right;
            width: 300px;

            .user {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;

                a {

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        object-fit: cover;
                    }
                }

                div {
                    margin-top: -15px;
                    padding-left: 20px;

                    a {
                        font-size: 0.9rem;
                        color: #333;
                        font-weight: 600;
                    }

                    p {
                        font-size: 0.9rem;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .posts {
        z-index: 100;
        grid-area: posts;
        width: 100%;

        .create-new-post {
            width: 100%;
            overflow: hidden;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            background-color: #fff;
            margin: 30px 0;
            padding: 20px 0;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            input[type=text] {
                width: 100%;
                background: none;
                border: none;
                outline: none;
                padding: 20px;
            }

            div {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                input[type=submit] {
                    cursor: pointer;
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 1rem;
                    width: 100px;
                    height: 50px;
                    background-color: #f1f1f1;
                    border-radius: 10px;
                }

                input[type=file] {
                    display: none;
                }

                label {
                    margin: 0 20px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 150px;
                    height: 50px;
                    background-color: #f1f1f1;
                    border-radius: 10px;

                    svg {
                        width: 30px;
                        margin-right: 10px;

                        .st0 {
                            fill: none;
                            stroke: #333;
                            stroke-width: 10;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-miterlimit: 10;
                        }
                    }
                }
            }
        }

        .home-post {
            width: 100%;
            overflow: hidden;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            background-color: #fff;
            margin: 30px 0;
            border-radius: 5px;

            .post-top {
                padding: 10px 20px;

                .user {
                    display: flex;
                    align-items: center;

                    a {

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }

                    .name {
                        margin-top: -10px;
                        color: #333;
                        font-weight: 600;
                        margin-left: 20px;
                    }
                }
            }

            .img {
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;

                }
            }

            .post-btns {
                padding: 0 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    margin-right: 10px;

                    svg {
                        height: 35px;

                        .st0 {
                            fill: none;
                            stroke: #333;
                            stroke-width: 5;
                            stroke-miterlimit: 10;
                        }
                    }
                }

                a:nth-child(2) {
                    svg {
                        height: 42px;
                    }
                }

                a:last-child {
                    margin-left: auto;
                    margin-right: 0;
                }
            }

            .discription-sect {
                padding: 0 20px 10px 20px;

                p {
                    font-size: 0.9rem;
                    color: #333;
                    font-weight: 400;

                    a,
                    span {
                        color: #333;
                        font-weight: 600;
                    }

                    small {
                        font-size: 0.7rem;
                    }
                }
            }

            form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 50px;
                border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
                padding: 20px;

                input[type=text] {
                    width: 100%;
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 0.9rem;
                    color: #333;

                    &::placeholder {
                        opacity: 0.5;
                    }
                }

                input[type=submit] {
                    cursor: pointer;
                    background: none;
                    border: none;
                    outline: none;
                    color: #559eff;
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }
        }
    }
}

.profile {

    .user-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        padding: 40px 40px 40px 0;

        .profile_pic {
            margin: 0 80px;
            min-width: 150px;
            min-height: 150px;
            width: 150px;
            height: 150px;
            border-radius: 150px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            width: 100%;

            .user-name {
                display: block;
                font-size: 2rem;
                font-weight: 300;
                opacity: 0.8;
                margin: 20px 0;
            }

            .count {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0;

                p {
                    font-size: 1rem;

                    span {
                        font-weight: 600;
                    }
                }
            }

            .full-name {
                margin: 10px 0;
            }
        }
    }

    .user-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr;
        grid-gap: 30px;
        padding: 40px 0;

        .img-container {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}